<nav class="navbar navbar-light bg-light" id="navtest">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1"></span>
  </div>
</nav>
<div class="container-fluid">
  <h1 class="text-center">Tanques y concentradores de Oxigeno México</h1>

  <h5 class="text-center">Selecciona el estado</h5>

  <div class="text-center dropdown-states">
    <div ngbDropdown class="d-inline-block">
      <button
        class="btn btn-outline-primary"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        {{ dropdownSelect }}
      </button>
      <div
        ngbDropdownMenu
        aria-labelledby="dropdownBasic1"
        class="dropdown-container"
      >
        <button
          ngbDropdownItem
          *ngFor="let state of states"
          (click)="getStateData(state)"
        >
          {{ state.name }}
        </button>
      </div>
    </div>
  </div>

  <table class="table table-striped" *ngIf="stateData">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Teléfono</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of stateData">
        <th scope="row">{{ data.id }}</th>
        <td>{{ data.name }}</td>
        <td>{{ data.phoneNumber }}</td>
      </tr>
    </tbody>
  </table>
</div>
