<div class="image-container container-fluid">
  <h1>Tanques y Concentradores de Oxigeno México</h1>
  <hr />
  <p class="text-center select-state-p">Selecciona el estado</p>

  <div class="text-center dropdown-states">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-light" id="dropdownBasic1" ngbDropdownToggle>
        {{ dropdownSelect }}
      </button>
      <div
        ngbDropdownMenu
        aria-labelledby="dropdownBasic1"
        class="dropdown-container"
      >
        <button
          ngbDropdownItem
          *ngFor="let state of states"
          (click)="getStateData(state, tableContent)"
        >
          {{ state.name }}
        </button>
      </div>
    </div>
  </div>
</div>
<div class="disclaimer" #tableContent>
  <div class="table-container">
    <table class="table table-striped" *ngIf="stateData">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Teléfono</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of stateData">
          <th scope="row">{{ data.id }}</th>
          <td>{{ data.name }}</td>
          <td>{{ data.phoneNumber }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <p>
    Directorio de tanques y concentradores de Oxigeno en México, la
    disponibilidad y precio de los productos está sujeta a los vendedores, esta
    página solo es para tener un directorio de fácil acceso a la información.
  </p>
  <p>
    La data es agregada manualmente, cualquier duda, correción o solicitud para
    añadir información de otros estados favor de mandar correo a
    <a href="mailto:conectame.app@gmail.com?subject=Soporte"
      >conectame.app@gmail.com</a
    >
  </p>
</div>
