.select-state-p {
  color: white;
  font-size: larger;
  padding-top: 5vh;
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 2.5em;
  padding-top: 10vh;
}

hr {
  opacity: 1;
  background-color: white;
  border: none;
  height: 2px;
}

p {
  font-family: "Roboto", sans-serif;
}

.disclaimer {
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 15px;
  text-align: justify;
}

.image-container {
  background-color: lightgray;
  width: 100%;
  height: 90vh;
  background-image: url("../assets/mobile.png");
  background-size: cover;
}

.dropdown-container {
  overflow-y: scroll;
  height: 140px;
}

@media only screen and (min-width: 650px) {
  .image-container {
    background-color: lightgray;
    width: 100%;
    height: 85vh;
    background-image: url("../assets/desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  h1 {
    padding-top: 15%;
    text-align: center;
    font-size: 3em;
  }

  table {
    width: 80%;
  }

  .table-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .disclaimer {
    margin-right: 50px;
    margin-left: 50px;
  }
}
